*{
    padding: 0;
    margin: 0;
}
.card{
    margin-top: 50px;
    margin-left: 500px;
    height: 800px;
    width: 400px;
    border-radius: 1rem;
    background-color: rgb(42, 67, 165);
    border-color: black;
    
}
.name{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
img{
    width: 300px;
    border-radius: 50%;
    padding-left: 50px;
    padding-top: 2rem;
}
.circle{
    background-color: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 2rem;
    /* padding: 1rem; */
}
.ground{
    background-color: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.t-circle{
    display: flex;
    flex-direction: column;
}   
h1{
    align-items: center;
}
.hero{
    display: flex;
    

}
.g-circle{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.secondpart{
    display: flex;
    height: 100vh;
    margin-left: 1rem;
    flex-direction: column;
}